@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<img src="~/cowboy-cafe-images/BuckingBronco.png" style="margin: auto"/>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!”</h2>